#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Pozitive Chromium
GenericName=Web Browser
Comment=Access the Internet
StartupWMClass=pozitive-chromium
Exec=/home/jakub/.local/bin/pozitive-chromium %U
StartupNotify=true
Terminal=false
Icon=pozitive-chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
