# I have a sentiment for the `co` command
[alias]
	co = checkout

# Global user settings
#   useful when gitt-ing outside the usual directory tree
[user]
	name = Jakub Zalewski
	email = jakzale@gmail.com

# Use neovim
[core]
	editor = nvim
    excludesfile = ~/.gitignoreglobal

# Host-specific configuration
[include]
	path = ~/.gitconfig.local

# Private projects
[includeIf "gitdir:~/Developer/"]
	path = ~/Developer/.gitconfig

# Pozitive.dev projects
[includeIf "gitdir:~/Pozitive/"]
	path = ~/Pozitive/.gitconfig

# IOHK projects
[includeIf "gitdir:~/IOHK/"]
	path = ~/IOHK/.gitconfig

[pull]
	rebase = true

[credential "https://github.com"]
	helper = !gh auth git-credential
