[submodule ".emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:hlissner/doom-emacs.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".config/nvim/pack/jakzale/start/vim-scriptease"]
	path = neovim/.config/nvim/pack/jakzale/start/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule ".config/nvim/pack/jakzale/opt/matchit"]
	path = neovim/.config/nvim/pack/jakzale/opt/matchit
	url = https://github.com/chrisbra/matchit.git
[submodule ".config/nvim/pack/jakzale/start/sensible"]
	path = neovim/.config/nvim/pack/jakzale/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".config/nvim/pack/jakzale/start/fugitive"]
	path = neovim/.config/nvim/pack/jakzale/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/pack/jakzale/start/projectionist"]
	path = neovim/.config/nvim/pack/jakzale/start/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".config/nvim/pack/jakzale/start/dispatch"]
	path = neovim/.config/nvim/pack/jakzale/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".config/nvim/pack/jakzale/start/surround"]
	path = neovim/.config/nvim/pack/jakzale/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/nvim/pack/jakzale/start/repeat"]
	path = neovim/.config/nvim/pack/jakzale/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".config/nvim/pack/jakzale/start/speeddating"]
	path = neovim/.config/nvim/pack/jakzale/start/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".config/nvim/pack/jakzale/start/obsession"]
	path = neovim/.config/nvim/pack/jakzale/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".config/nvim/pack/jakzale/start/eunuch"]
	path = neovim/.config/nvim/pack/jakzale/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".config/nvim/pack/jakzale/start/deoplete"]
	path = neovim/.config/nvim/pack/jakzale/start/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".config/nvim/pack/jakzale/start/gitgutter"]
	path = neovim/.config/nvim/pack/jakzale/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".config/nvim/pack/jakzale/start/LanguageClient"]
	path = neovim/.config/nvim/pack/jakzale/start/LanguageClient
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule ".config/nvim/pack/jakzale/start/numbertoggle"]
	path = neovim/.config/nvim/pack/jakzale/start/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
    ignore = untracked
[submodule ".config/nvim/pack/jakzale/start/onedark"]
	path = neovim/.config/nvim/pack/jakzale/opt/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule ".config/nvim/pack/jakzale/start/fzf"]
	path = neovim/.config/nvim/pack/jakzale/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule ".config/nvim/pack/jakzale/start/lsp"]
	path = neovim/.config/nvim/pack/jakzale/opt/lsp
	url = https://github.com/neovim/nvim-lsp
[submodule ".config/nvim/pack/jakzale/start/better-whitespace"]
	path = neovim/.config/nvim/pack/jakzale/start/better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".config/nvim/pack/jakzale/start/mundo"]
	path = neovim/.config/nvim/pack/jakzale/start/mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule ".config/nvim/pack/jakzale/start/tcomment"]
	path = neovim/.config/nvim/pack/jakzale/start/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule ".config/nvim/pack/jakzale/start/lightline"]
	path = neovim/.config/nvim/pack/jakzale/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".config/nvim/pack/jakzale/start/polyglot"]
	path = neovim/.config/nvim/pack/jakzale/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
