# Emacs
[submodule "hlissner/doom-emacs"]
	branch = develop
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs.git
# FZF
[submodule "junegunn/fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
# NeoVim
[submodule "airblade/vim-gitgutter"]
	path = neovim/.config/nvim/pack/jakzale/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "autozimu/LanguageClient-neovim"]
	branch = next
	path = neovim/.config/nvim/pack/jakzale/start/LanguageClient
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "chrisbra/matchit"]
	path = neovim/.config/nvim/pack/jakzale/opt/matchit
	url = https://github.com/chrisbra/matchit.git
[submodule "itchyny/lightline.vim"]
	path = neovim/.config/nvim/pack/jakzale/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "jceb/vim-orgmode"]
	path = neovim/.config/nvim/pack/jakzale/start/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "jeffkreeftmeijer/vim-numbertoggle"]
	ignore = untracked
	path = neovim/.config/nvim/pack/jakzale/start/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "joshdick/onedark.vim"]
	path = neovim/.config/nvim/pack/jakzale/opt/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule "junegunn/fzf.vim"]
	path = neovim/.config/nvim/pack/jakzale/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "kasio/neoterm"]
	path = neovim/.config/nvim/pack/jakzale/start/neoterm
	url = https://github.com/kassio/neoterm.git
[submodule "neovim/nvim-lsp"]
	path = neovim/.config/nvim/pack/jakzale/opt/lsp
	url = https://github.com/neovim/nvim-lsp
[submodule "ntpeters/vim-better-whitespace"]
	path = neovim/.config/nvim/pack/jakzale/start/better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "sheerun/vim-polyglot"]
	path = neovim/.config/nvim/pack/jakzale/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "Shougo/deoplete.nvim"]
	path = neovim/.config/nvim/pack/jakzale/start/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "simnalamburt/vim-mundo"]
	path = neovim/.config/nvim/pack/jakzale/start/mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule "tomtom/tcomment_vim"]
	path = neovim/.config/nvim/pack/jakzale/start/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule "tpope/vim-dispatch"]
	path = neovim/.config/nvim/pack/jakzale/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "tpope/vim-eunuch"]
	path = neovim/.config/nvim/pack/jakzale/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "tpope/vim-fugitive"]
	path = neovim/.config/nvim/pack/jakzale/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "tpope/vim-repeat"]
	path = neovim/.config/nvim/pack/jakzale/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "tpope/vim-obsession"]
	path = neovim/.config/nvim/pack/jakzale/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "tpope/vim-projectionist"]
	path = neovim/.config/nvim/pack/jakzale/start/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "tpope/vim-scriptease"]
	path = neovim/.config/nvim/pack/jakzale/start/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "tpope/vim-sensible"]
	path = neovim/.config/nvim/pack/jakzale/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "tpope/vim-speeddating"]
	path = neovim/.config/nvim/pack/jakzale/start/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "tpope/vim-surround"]
	path = neovim/.config/nvim/pack/jakzale/start/surround
	url = https://github.com/tpope/vim-surround.git
# Oh My Fish
[submodule "oh-my-fish/oh-my-fish"]
	path = fish/.local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
# Oh My Zsh
[submodule "ohmyzsh/ohmyzsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

